public_html/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,height=device-height,viewport-fit=cover">
    <title>Городской квартал «Некрасовский»</title>
    <base href="/">
    <meta name="description" content="Расположен в одном из самых зеленых районов Уфы по улице Софьи Перовской. Из окон домов так приятно любоваться бескрайними просторами заречья, меняющими свои краски в зависимости от времени года, или вдохновляться живописными рассветами и закатами.">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="/assets/images/logo.png">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" href="/css/vendor.min.css?v=3.1.0">
    <link rel="stylesheet" href="/css/common.min.css?v=3.1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="header-mobile-fix"></div>
    <header class="header"><a class="header__logo" href="/">
        <svg class="icon icon-logo" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#logo"></use>
        </svg></a>
      <div class="header__right"><a class="header__select-flat" href="/select.html">
          <div class="header__select-flat__text">подобрать квартиру</div>
          <svg class="icon icon-key" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/images/svg/sprite.svg#key"></use>
          </svg></a>
        <div class="header__top-right"><a class="header__phone" href="tel:+7(347)246-09-10">+7 (347) 246-09-10
            <svg class="icon icon-phone" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#phone"></use>
            </svg></a>
          <div class="header__callme btn btn-orange" data-modalhandler="callme">заказать звонок</div>
        </div>
        <div class="header__right-panel">
          <div class="header__hamburger">
            <svg class="icon icon-hamburger" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#hamburger"></use>
            </svg>меню
          </div>
          <div class="header__right-panel__bottom">
            <svg class="icon icon-rp-scroll header__right-panel__scroll" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#rp-scroll"></use>
            </svg>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="first-screen" style="background-image:url(/images/first-screen/fs-about-1.jpg);">
        <div class="first-screen__arc">
          <div class="first-screen__title">О комплексе</div>
        </div>
      </div>
      <div class="bg066B9E bgimage-right" style="background-image:url(/images/background/bgimage-1.png);">
        <div class="container">
          <div class="rp-padding">
            <div class="height90"></div>
            <div class="title title--no-arc">Вдохновляюще</div>
            <div class="height50"></div>
            <div class="text">
              <p>«Некрасовский» расположен в одном из самых зеленых районов Уфы по улице Софьи Перовской. Из окон домов так приятно любоваться бескрайними просторами заречья, меняющими свои краски в зависимости от времени года, или вдохновляться живописными рассветами и закатами.</p>
              <p>Поблизости с комплексом расположен прекрасный благоустроенный парк «Президент-отеля» открытый для всех желающих. Здесь в любую погоду можно прогуливаться всей семьей и наслаждаться шумом леса и свежим воздухом.</p>
            </div>
            <div class="height60"></div><a class="btn btn-orange" href="/gallery.html">Рассмотреть комплекс</a>
            <div class="height60"></div>
          </div>
        </div>
      </div>
      <div class="rp-padding">
        <div class="bgimage" style="background-image:url(/images/background/about-bg-image-1.jpg);"></div>
      </div>
      <div class="about-map">
        <div class="bg066B9E h-100">
          <div class="container">
            <div class="rp-padding">
              <div class="height90"></div>
              <div class="height70"></div>
              <div class="title">
                <div class="title__wrap">Удобно</div>
              </div>
              <div class="height50"></div>
              <div class="text z-index-title-fix">
                <p>Новый городской квартал «Некрасовский» расположен в 3 минутах езды от Монумента дружбы. Пеший путь до благоустроенной набережной займёт всего 15 минут, а до центра города на автомобиле – не более 10 минут.</p>
                <p>Вокруг домов квартала большой многогранный мир: отдых, занятия спортом, школы и детские сады, шопинг, прогулки с детьми, медицинские учреждения – живи здесь и сейчас, все уже рядом!</p>
              </div>
              <div class="height90"></div>
              <div class="about-map__categories">
                <div class="about-map__category" data-name="schools">Образование</div>
                <div class="about-map__category" data-name="shopping">Шопинг</div>
                <div class="about-map__category" data-name="beauty-and-sports">Красота и спорт</div>
                <div class="about-map__category" data-name="business">Бизнес</div>
                <div class="about-map__category" data-name="food-and-health">Еда и здоровье</div>
                <div class="about-map__category" data-name="universities">Вузы</div>
              </div>
              <div class="about-map__wrapper" id="map"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg0089CF bgimage-right" style="background-image:url(/images/background/bgimage-2.png);">
        <div class="container">
          <div class="rp-padding">
            <div class="height90"></div>
            <div class="title">
              <div class="title__wrap">Комфортно</div>
            </div>
            <div class="height50"></div>
            <div class="text z-index-title-fix">
              <p>«Некрасовский» представляет широкий модельный ряд квартир, чтобы у вас была возможность выбрать планировку, максимально соответствующую стилю жизни вашей семьи.</p>
              <p>Абсолютно все квартиры «Некрасовского» функциональны. Здесь предусмотрены гардеробные и большое количество ниш для систем хранения, глубокие ниши на кухнях для организации кладовок, грязные зоны отделены от транзитных путей, во многих спроектированы 2 санузла.</p>
              <p>Детально рассмотреть планировку, оценить количество необходимой мебели и ее расстановку, варианты расположения зон для разных семей легко сделать с помощью специально разработанных функциональных паспортов квартир.</p>
            </div>
            <div class="height60"></div>
            <div class="btn btn-orange" data-modalhandler="get-catalog">Запросить каталог квартир</div>
            <div class="height60"></div>
          </div>
        </div>
      </div>
      <div class="bg066B9E">
        <div class="container">
          <div class="rp-padding">
            <div class="height90"></div>
            <div class="title">
              <div class="title__wrap">Планировки-бестселлеры</div>
            </div>
            <div class="height90"></div>
            <div class="height30"></div>
            <div class="about-flats">
              <div class="about-flat">
                <div class="flat-mini">
                  <div class="flat-mini__top">
                    <div class="flat-mini__image"><img alt="alt" src="/images/flats/flat-mini-6987.png"/></div>
                    <div class="flat-mini__title">Двухкомнатная<br> Вид на реку</div>
                  </div>
                  <div class="flat-mini__bottom">
                    <div class="flat-mini__area">69,87 м²</div>
                    <div class="flat-mini__view" data-area="69.87" data-entrance="29">Смотреть</div>
                  </div>
                </div>
              </div>
              <div class="about-flat">
                <div class="flat-mini">
                  <div class="flat-mini__top">
                    <div class="flat-mini__image"><img alt="alt" src="/images/flats/flat-mini-7103.png"/></div>
                    <div class="flat-mini__title">Трёшка-смарт<br> Вид на реку</div>
                  </div>
                  <div class="flat-mini__bottom">
                    <div class="flat-mini__area">71,03 м²</div>
                    <div class="flat-mini__view" data-area="71.03" data-entrance="29">Смотреть</div>
                  </div>
                </div>
              </div>
              <div class="about-flat">
                <div class="flat-mini">
                  <div class="flat-mini__top">
                    <div class="flat-mini__image"><img alt="alt" src="/images/flats/flat-mini-3137.png"/></div>
                    <div class="flat-mini__title">Однушка-смарт<br> Вид на реку</div>
                  </div>
                  <div class="flat-mini__bottom">
                    <div class="flat-mini__area">31,37 м²</div>
                    <div class="flat-mini__view" data-area="31.37" data-entrance="27">Смотреть</div>
                  </div>
                </div>
              </div>
              <div class="about-flat">
                <div class="flat-mini">
                  <div class="flat-mini__top">
                    <div class="flat-mini__image"><img alt="alt" src="/images/flats/flat-mini-4360.png"/></div>
                    <div class="flat-mini__title">Двушка-смарт<br >Вид на реку</div>
                  </div>
                  <div class="flat-mini__bottom">
                    <div class="flat-mini__area">43,6 м²</div>
                    <div class="flat-mini__view" data-area="43.60" data-entrance="27">Смотреть</div>
                  </div>
                </div>
              </div>
              <div class="about-flat">
                <div class="flat-mini">
                  <div class="flat-mini__top">
                    <div class="flat-mini__image"><img alt="alt" src="/images/flats/flat-mini-5138.png"/></div>
                    <div class="flat-mini__title">Двухкомнатная <br>Функциональная <br>планировка</div>
                  </div>
                  <div class="flat-mini__bottom">
                    <div class="flat-mini__area">51,38 м²</div>
                    <div class="flat-mini__view" data-area="51.38" data-entrance="28">Смотреть</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="height90"></div>
          </div>
        </div>
      </div>
      <div class="bg066B9E bgimage-right" style="background-image:url(/images/background/bgimage-3-1.png);">
        <div class="container">
          <div class="rp-padding">
            <div class="height90"></div>
            <div class="title">
              <div class="title__wrap">Оптимально</div>
            </div>
            <div class="height70"></div>
            <div class="height30"></div>
            <div class="text z-index-title-fix">
              <div class="row">
                <div class="col-md-6">
                  <div class="icon-text-h">
                    <div class="icon-text-h__icon">
                      <svg class="icon icon-bricks" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="/images/svg/sprite.svg#bricks"></use>
                      </svg>
                    </div>
                    <div class="icon-text-h__text">Монолитный каркас<br> с заполнением<br> красным кирпичом</div>
                  </div>
                  <div class="height30"></div>
                  <div class="icon-text-h">
                    <div class="icon-text-h__icon">
                      <svg class="icon icon-double-door" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="/images/svg/sprite.svg#double-door"></use>
                      </svg>
                    </div>
                    <div class="icon-text-h__text">Входы в подъезды<br> на уровне земли</div>
                  </div>
                  <div class="height30"></div>
                  <div class="icon-text-h">
                    <div class="icon-text-h__icon">
                      <svg class="icon icon-childrens-slide" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="/images/svg/sprite.svg#childrens-slide"></use>
                      </svg>
                    </div>
                    <div class="icon-text-h__text">Современные<br> детские площадки</div>
                  </div>
                  <div class="height30"></div>
                  <div class="icon-text-h">
                    <div class="icon-text-h__icon">
                      <svg class="icon icon-drawing" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="/images/svg/sprite.svg#drawing"></use>
                      </svg>
                    </div>
                    <div class="icon-text-h__text">Огромный модельный<br> ряд планировок</div>
                  </div>
                  <div class="height30"></div>
                </div>
                <div class="col-md-6">
                  <div class="icon-text-h">
                    <div class="icon-text-h__icon">
                      <svg class="icon icon-skyscrapers" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="/images/svg/sprite.svg#skyscrapers"></use>
                      </svg>
                    </div>
                    <div class="icon-text-h__text">Переменная<br> этажность</div>
                  </div>
                  <div class="height30"></div>
                  <div class="icon-text-h">
                    <div class="icon-text-h__icon">
                      <svg class="icon icon-lock" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="/images/svg/sprite.svg#lock"></use>
                      </svg>
                    </div>
                    <div class="icon-text-h__text">Закрытая территория<br> комплекса</div>
                  </div>
                  <div class="height30"></div>
                  <div class="icon-text-h">
                    <div class="icon-text-h__icon">
                      <svg class="icon icon-garage" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="/images/svg/sprite.svg#garage"></use>
                      </svg>
                    </div>
                    <div class="icon-text-h__text">Отдельно стоящий<br> 9-этажный паркинг</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="height60"></div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__left"><a class="footer__logo" href="/">
              <svg class="icon icon-logo" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="/images/svg/sprite.svg#logo"></use>
              </svg></a>
            <div class="footer__desc">
              Застройщик ООО «Специализированный<br> застройщик «Некрасовский»<br> Проектная декларация на сайте <a href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/" target="_blank">нашдом.рф</a> <br><br><a href="javascript:void(0)" data-modalhandler="private-police">Политика конфиденциальности</a></div>
          </div>
          <div class="footer__center">
            <div class="footer__menu"><a class="footer__link" href="about.html">О комплексе</a><a class="footer__link" href="plan.html">О функциональных<br> планировках</a><a class="footer__link" href="select.html">Выбрать планировку</a>
            </div>
            <div class="footer__menu"><a class="footer__link" href="gallery.html">Галерея</a><a class="footer__link" href="commercion.html">Коммерция</a><a class="footer__link" href="contacts.html">Контакты</a>
            </div>
          </div>
          <div class="footer__right"><a class="footer__phone" href="tel:+7(347)246-09-10">+7 (347) 246-09-10</a>
            <div class="footer__callme" data-modalhandler="callme">заказать звонок</div>
            <div class="footer__socs">
              <!--a.footer__socs__item(href="#!" target="_blank"): +svg('facebook')-->
              <!--a.footer__socs__item(href="#!" target="_blank"): +svg('vkontakte')-->
              <!--a.footer__socs__item(href="https://www.instagram.com/nekrasovsky.ufa/" target="_blank"): +svg('instagram')-->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="hidden-menu">
      <div class="hidden-menu__close">
        <svg class="icon icon-close" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#close"></use>
        </svg>закрыть
      </div>
      <nav class="nav"><a class="nav__link" href="about.html">О комплексе</a><a class="nav__link" href="plan.html">О функциональных планировках</a><a class="nav__link" href="select.html">Выбрать планировку</a><a class="nav__link" href="gallery.html">Галерея</a><a class="nav__link" href="commercion.html">Коммерция</a><a class="nav__link" target="_blank" href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/#documents">Документы</a><a class="nav__link" href="contacts.html">Контакты</a>
      </nav>
    </div>
    <div class="menu-shadow"></div>
    <script>var pageName = 'about';</script>
    <script>var cmsTpl = '/';</script>
    <script src="/js/vendor.min.js?v=3.1.0"></script>
    <script src="/js/common.min.js?v=3.1.0"></script>
  </body>
</html>

app/pug/pages/about.pug
extends ../layouts/default
include ../components/first-screen
include ../components/title
include ../components/flat-mini
include ../components/icon-text-horizontal

block scripts
  script var pageName = 'about';

block main
  +first-screen(
      cmsTpl + "images/first-screen/fs-about-1.jpg",
      'О комплексе'
  )

  .bg066B9E.bgimage-right(style="background-image:url("+cmsTpl+"images/background/bgimage-1.png);"): .container: .rp-padding
    .height90
    +title('Вдохновляюще')
    .height50
    .text
      p «Некрасовский» расположен в одном из самых зеленых районов Уфы по улице Софьи Перовской. Из окон домов так приятно любоваться бескрайними просторами заречья, меняющими свои краски в зависимости от времени года, или вдохновляться живописными рассветами и закатами.
      p Поблизости с комплексом расположен прекрасный благоустроенный парк «Президент-отеля» открытый для всех желающих. Здесь в любую погоду можно прогуливаться всей семьей и наслаждаться шумом леса и свежим воздухом.
    .height60
    a.btn.btn-orange(href="/gallery.html") Рассмотреть комплекс
    .height60

  .rp-padding: .bgimage(style="background-image:url("+cmsTpl+"images/background/about-bg-image-1.jpg);")

  .about-map: .bg066B9E.h-100: .container: .rp-padding
    .height90
    .height70
    +title('Удобно',true)
    .height50
    .text.z-index-title-fix
      p Новый городской квартал «Некрасовский» расположен в 3 минутах езды от Монумента дружбы. Пеший путь до благоустроенной набережной займёт всего 15 минут, а до центра города на автомобиле – не более 10 минут.
      p Вокруг домов квартала большой многогранный мир: отдых, занятия спортом, школы и детские сады, шопинг, прогулки с детьми, медицинские учреждения – живи здесь и сейчас, все уже рядом!
    .height90
    .about-map__categories
      -var names = ['schools','shopping','beauty-and-sports','business','food-and-health','universities']
      each item,i in ['Образование','Шопинг','Красота и спорт','Бизнес','Еда и здоровье','Вузы']
        .about-map__category(data-name=names[i])= item
    #map.about-map__wrapper

  .bg0089CF.bgimage-right(style="background-image:url("+cmsTpl+"images/background/bgimage-2.png);"): .container: .rp-padding
    .height90
    +title('Комфортно',true)
    .height50
    .text.z-index-title-fix
      p «Некрасовский» представляет широкий модельный ряд квартир, чтобы у вас была возможность выбрать планировку, максимально соответствующую стилю жизни вашей семьи.
      p Абсолютно все квартиры «Некрасовского» функциональны. Здесь предусмотрены гардеробные и большое количество ниш для систем хранения, глубокие ниши на кухнях для организации кладовок, грязные зоны отделены от транзитных путей, во многих спроектированы 2 санузла.
      p Детально рассмотреть планировку, оценить количество необходимой мебели и ее расстановку, варианты расположения зон для разных семей легко сделать с помощью специально разработанных функциональных паспортов квартир.
    .height60
    .btn.btn-orange(data-modalhandler="get-catalog") Запросить каталог квартир
    .height60

  .bg066B9E: .container: .rp-padding
    .height90
    +title('Планировки-бестселлеры',true)
    .height90
    .height30
    .about-flats
      .about-flat: +flat-mini('Двухкомнатная<br> Вид на реку','69,87 м²','images/flats/flat-mini-6987.png','69.87','29')
      .about-flat: +flat-mini('Трёшка-смарт<br> Вид на реку','71,03 м²','images/flats/flat-mini-7103.png','71.03','29')
      .about-flat: +flat-mini('Однушка-смарт<br> Вид на реку','31,37 м²','images/flats/flat-mini-3137.png','31.37','27')
      .about-flat: +flat-mini('Двушка-смарт<br >Вид на реку','43,6 м²','images/flats/flat-mini-4360.png','43.60','27')
      .about-flat: +flat-mini('Двухкомнатная <br>Функциональная <br>планировка','51,38 м²','images/flats/flat-mini-5138.png','51.38','28')
    .height90

  .bg066B9E.bgimage-right(style="background-image:url(" + cmsTpl + "images/background/bgimage-3-1.png);"): .container: .rp-padding
    .height90
    +title('Оптимально',true)
    .height70
    .height30
    .text.z-index-title-fix: .row
      .col-md-6
        +icon-text-horizontal('bricks','Монолитный каркас<br> с заполнением<br> красным кирпичом')
        .height30
        +icon-text-horizontal('double-door','Входы в подъезды<br> на уровне земли')
        .height30
        +icon-text-horizontal('childrens-slide','Современные<br> детские площадки')
        .height30
        +icon-text-horizontal('drawing','Огромный модельный<br> ряд планировок')
        .height30
      .col-md-6
        +icon-text-horizontal('skyscrapers','Переменная<br> этажность')
        .height30
        +icon-text-horizontal('lock','Закрытая территория<br> комплекса')
        .height30
        +icon-text-horizontal('garage','Отдельно стоящий<br> 9-этажный паркинг')
    .height60
