app/pug/pages/commercion.pug
extends ../layouts/default
include ../components/title
include ../components/first-screen
include ../components/icon-text-horizontal

block main
  +first-screen(
      cmsTpl + "images/first-screen/commercion.jpg",
      'Коммерческая<br> недвижимость'
  )

  .bg066B9E.bgimage-right(style="background-image:url(" + cmsTpl + "images/background/commercion-bgimage-1.png);"): .container: .rp-padding
    .height90
    +title('Выгодно')
    .height50
    .text
      p Первые этажи «Некрасовского» занимает офисная и торгово-развлекательная инфраструктура. Помещения для супермаркета, магазины, аптеки, отделения банков, салоны красоты, кафе дополнят развитую инфраструктуру комплекса. Расположение вдоль улицы С. Перовской с отличной транспортной доступностью и большим автомобильным трафиком делают «Некрасовский» беспроигрышным вариантом для инвестирования.
    .height60
    .btn.btn-orange(data-modalhandler="get-commercion") Получить планировки
    .height60

  .rp-padding: .bgimage(style="background-image:url("+cmsTpl+"images/background/commercion-bg-image-1-1.jpg);")

  .bg066B9E: .container: .rp-padding
    .height70
    .row
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('route','Удобные<br> подъездные пути')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('parking','Большой паркинг<br> на красной линии')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('people-and-dog','Большой пешеходный<br> и автомобильный трафик')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('point-map','Расположение вдоль<br> улицы С. Перовской')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('100','Длина фасада<br> коммерческих помещений<br> более 100 метров')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('opened-doors','Входы только со<br> стороны улицы')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('computer-desk','Открытые<br> планировки')
        .height30
      .col-md-6.col-lg-4.col-xl-3
        +icon-text-horizontal('double-arrow','Высокие<br> потолки')
        .height30
    .height40

public_html/commercion.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,height=device-height,viewport-fit=cover">
    <title>Городской квартал «Некрасовский»</title>
    <base href="/">
    <meta name="description" content="Расположен в одном из самых зеленых районов Уфы по улице Софьи Перовской. Из окон домов так приятно любоваться бескрайними просторами заречья, меняющими свои краски в зависимости от времени года, или вдохновляться живописными рассветами и закатами.">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="/assets/images/logo.png">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" href="/css/vendor.min.css?v=3.1.0">
    <link rel="stylesheet" href="/css/common.min.css?v=3.1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="header-mobile-fix"></div>
    <header class="header"><a class="header__logo" href="/">
        <svg class="icon icon-logo" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#logo"></use>
        </svg></a>
      <div class="header__right"><a class="header__select-flat" href="/select.html">
          <div class="header__select-flat__text">подобрать квартиру</div>
          <svg class="icon icon-key" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/images/svg/sprite.svg#key"></use>
          </svg></a>
        <div class="header__top-right"><a class="header__phone" href="tel:+7(347)246-09-10">+7 (347) 246-09-10
            <svg class="icon icon-phone" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#phone"></use>
            </svg></a>
          <div class="header__callme btn btn-orange" data-modalhandler="callme">заказать звонок</div>
        </div>
        <div class="header__right-panel">
          <div class="header__hamburger">
            <svg class="icon icon-hamburger" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#hamburger"></use>
            </svg>меню
          </div>
          <div class="header__right-panel__bottom">
            <svg class="icon icon-rp-scroll header__right-panel__scroll" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#rp-scroll"></use>
            </svg>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="first-screen" style="background-image:url(/images/first-screen/commercion.jpg);">
        <div class="first-screen__arc">
          <div class="first-screen__title">Коммерческая<br> недвижимость</div>
        </div>
      </div>
      <div class="bg066B9E bgimage-right" style="background-image:url(/images/background/commercion-bgimage-1.png);">
        <div class="container">
          <div class="rp-padding">
            <div class="height90"></div>
            <div class="title title--no-arc">Выгодно</div>
            <div class="height50"></div>
            <div class="text">
              <p>Первые этажи «Некрасовского» занимает офисная и торгово-развлекательная инфраструктура. Помещения для супермаркета, магазины, аптеки, отделения банков, салоны красоты, кафе дополнят развитую инфраструктуру комплекса. Расположение вдоль улицы С. Перовской с отличной транспортной доступностью и большим автомобильным трафиком делают «Некрасовский» беспроигрышным вариантом для инвестирования.</p>
            </div>
            <div class="height60"></div>
            <div class="btn btn-orange" data-modalhandler="get-commercion">Получить планировки</div>
            <div class="height60"></div>
          </div>
        </div>
      </div>
      <div class="rp-padding">
        <div class="bgimage" style="background-image:url(/images/background/commercion-bg-image-1-1.jpg);"></div>
      </div>
      <div class="bg066B9E">
        <div class="container">
          <div class="rp-padding">
            <div class="height70"></div>
            <div class="row">
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="icon-text-h">
                  <div class="icon-text-h__icon">
                    <svg class="icon icon-route" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="/images/svg/sprite.svg#route"></use>
                    </svg>
                  </div>
                  <div class="icon-text-h__text">Удобные<br> подъездные пути</div>
                </div>
                <div class="height30"></div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="icon-text-h">
                  <div class="icon-text-h__icon">
                    <svg class="icon icon-parking" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="/images/svg/sprite.svg#parking"></use>
                    </svg>
                  </div>
                  <div class="icon-text-h__text">Большой паркинг<br> на красной линии</div>
                </div>
                <div class="height30"></div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="icon-text-h">
                  <div class="icon-text-h__icon">
                    <svg class="icon icon-people-and-dog" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="/images/svg/sprite.svg#people-and-dog"></use>
                    </svg>
                  </div>
                  <div class="icon-text-h__text">Большой пешеходный<br> и автомобильный трафик</div>
                </div>
                <div class="height30"></div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="icon-text-h">
                  <div class="icon-text-h__icon">
                    <svg class="icon icon-point-map" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="/images/svg/sprite.svg#point-map"></use>
                    </svg>
                  </div>
                  <div class="icon-text-h__text">Расположение вдоль<br> улицы С. Перовской</div>
                </div>
                <div class="height30"></div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="icon-text-h">
                  <div class="icon-text-h__icon">
                    <svg class="icon icon-100" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="/images/svg/sprite.svg#100"></use>
                    </svg>
                  </div>
                  <div class="icon-text-h__text">Длина фасада<br> коммерческих помещений<br> более 100 метров</div>
                </div>
                <div class="height30"></div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="icon-text-h">
                  <div class="icon-text-h__icon">
                    <svg class="icon icon-opened-doors" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="/images/svg/sprite.svg#opened-doors"></use>
                    </svg>
                  </div>
                  <div class="icon-text-h__text">Входы только со<br> стороны улицы</div>
                </div>
                <div class="height30"></div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="icon-text-h">
                  <div class="icon-text-h__icon">
                    <svg class="icon icon-computer-desk" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="/images/svg/sprite.svg#computer-desk"></use>
                    </svg>
                  </div>
                  <div class="icon-text-h__text">Открытые<br> планировки</div>
                </div>
                <div class="height30"></div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="icon-text-h">
                  <div class="icon-text-h__icon">
                    <svg class="icon icon-double-arrow" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                      <use xlink:href="/images/svg/sprite.svg#double-arrow"></use>
                    </svg>
                  </div>
                  <div class="icon-text-h__text">Высокие<br> потолки</div>
                </div>
                <div class="height30"></div>
              </div>
            </div>
            <div class="height40"></div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__left"><a class="footer__logo" href="/">
              <svg class="icon icon-logo" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="/images/svg/sprite.svg#logo"></use>
              </svg></a>
            <div class="footer__desc">
              Застройщик ООО «Специализированный<br> застройщик «Некрасовский»<br> Проектная декларация на сайте <a href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/" target="_blank">нашдом.рф</a> <br><br><a href="javascript:void(0)" data-modalhandler="private-police">Политика конфиденциальности</a></div>
          </div>
          <div class="footer__center">
            <div class="footer__menu"><a class="footer__link" href="about.html">О комплексе</a><a class="footer__link" href="plan.html">О функциональных<br> планировках</a><a class="footer__link" href="select.html">Выбрать планировку</a>
            </div>
            <div class="footer__menu"><a class="footer__link" href="gallery.html">Галерея</a><a class="footer__link" href="commercion.html">Коммерция</a><a class="footer__link" href="contacts.html">Контакты</a>
            </div>
          </div>
          <div class="footer__right"><a class="footer__phone" href="tel:+7(347)246-09-10">+7 (347) 246-09-10</a>
            <div class="footer__callme" data-modalhandler="callme">заказать звонок</div>
            <div class="footer__socs">
              <!--a.footer__socs__item(href="#!" target="_blank"): +svg('facebook')-->
              <!--a.footer__socs__item(href="#!" target="_blank"): +svg('vkontakte')-->
              <!--a.footer__socs__item(href="https://www.instagram.com/nekrasovsky.ufa/" target="_blank"): +svg('instagram')-->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="hidden-menu">
      <div class="hidden-menu__close">
        <svg class="icon icon-close" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#close"></use>
        </svg>закрыть
      </div>
      <nav class="nav"><a class="nav__link" href="about.html">О комплексе</a><a class="nav__link" href="plan.html">О функциональных планировках</a><a class="nav__link" href="select.html">Выбрать планировку</a><a class="nav__link" href="gallery.html">Галерея</a><a class="nav__link" href="commercion.html">Коммерция</a><a class="nav__link" target="_blank" href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/#documents">Документы</a><a class="nav__link" href="contacts.html">Контакты</a>
      </nav>
    </div>
    <div class="menu-shadow"></div>
    <script>var cmsTpl = '/';</script>
    <script src="/js/vendor.min.js?v=3.1.0"></script>
    <script src="/js/common.min.js?v=3.1.0"></script>
  </body>
</html>
