public_html/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,height=device-height,viewport-fit=cover">
    <title>Городской квартал «Некрасовский»</title>
    <base href="/">
    <meta name="description" content="Расположен в одном из самых зеленых районов Уфы по улице Софьи Перовской. Из окон домов так приятно любоваться бескрайними просторами заречья, меняющими свои краски в зависимости от времени года, или вдохновляться живописными рассветами и закатами.">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="/assets/images/logo.png">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" href="/css/vendor.min.css?v=3.1.0">
    <link rel="stylesheet" href="/css/common.min.css?v=3.1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="header-mobile-fix"></div>
    <header class="header"><a class="header__logo" href="/">
        <svg class="icon icon-logo" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#logo"></use>
        </svg></a>
      <div class="header__right"><a class="header__select-flat" href="/select.html">
          <div class="header__select-flat__text">подобрать квартиру</div>
          <svg class="icon icon-key" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/images/svg/sprite.svg#key"></use>
          </svg></a>
        <div class="header__top-right"><a class="header__phone" href="tel:+7(347)246-09-10">+7 (347) 246-09-10
            <svg class="icon icon-phone" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#phone"></use>
            </svg></a>
          <div class="header__callme btn btn-orange" data-modalhandler="callme">заказать звонок</div>
        </div>
        <div class="header__right-panel">
          <div class="header__hamburger">
            <svg class="icon icon-hamburger" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#hamburger"></use>
            </svg>меню
          </div>
          <div class="header__right-panel__bottom">
            <svg class="icon icon-rp-scroll header__right-panel__scroll" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#rp-scroll"></use>
            </svg>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="contacts-map">
        <div class="bg066B9E h-100">
          <div class="container">
            <div class="rp-padding">
              <div class="height60 plan-hide-height-1"></div>
              <div class="height90 plan-hide-height-2"></div>
              <div class="height90 contacts-height"></div>
              <div class="title title--no-arc">Контакты</div>
              <div class="height40"></div>
              <div class="text contacts-text">
                <div class="row">
                  <div class="col-md-6">
                    <div class="contacts-long-title">Офис продаж</div>
                    <div class="height30"></div>
                    <p>г. Уфа, ул. Революционная, д. 34/1</p>
                    <p>Время работы пн-пт: с 09:00 до 17:00</p>
                    <p>перерыв 12:00-13:00</p>
                    <p>сб, вс: выходной</p>
                    <p>тел: <a href="tel:+7(347)246-09-10">+7 (347) 246-09-10</a></p>
                    <p>e-mail: <a href="mailto:su10op@yandex.ru">su10op@yandex.ru</a></p>
                  </div>
                  <div class="col-md-6">
                    <div class="contacts-long-title">Центральный офис</div>
                    <div class="height30"></div>
                    <p>г. Уфа, ул. Шота Руставели, 9</p>
                    <p>Тел: <a href="tel:+7(347)292-73-84">+7(347) 292-73-84</a></p>
                    <p>E-mail: <a href="mailto:su10bnzs@mail.ru">su10bnzs@mail.ru</a></p>
                  </div>
                </div>
              </div>
              <div class="contacts-author">
                <div class="contacts-author__text"></div>
              </div>
              <div class="about-map__wrapper" id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="hidden-menu">
      <div class="hidden-menu__close">
        <svg class="icon icon-close" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#close"></use>
        </svg>закрыть
      </div>
      <nav class="nav"><a class="nav__link" href="about.html">О комплексе</a><a class="nav__link" href="plan.html">О функциональных планировках</a><a class="nav__link" href="select.html">Выбрать планировку</a><a class="nav__link" href="gallery.html">Галерея</a><a class="nav__link" href="commercion.html">Коммерция</a><a class="nav__link" target="_blank" href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/#documents">Документы</a><a class="nav__link" href="contacts.html">Контакты</a>
      </nav>
    </div>
    <div class="menu-shadow"></div>
    <script>var pageName = 'contacts';</script>
    <script>var cmsTpl = '/';</script>
    <script src="/js/vendor.min.js?v=3.1.0"></script>
    <script src="/js/common.min.js?v=3.1.0"></script>
  </body>
</html>

app/pug/pages/contacts.pug
extends ../layouts/default
include ../components/title

block scripts
  script var pageName = 'contacts';

block main
  .contacts-map: .bg066B9E.h-100: .container: .rp-padding
    .height60.plan-hide-height-1
    .height90.plan-hide-height-2
    .height90.contacts-height
    +title('Контакты')
    .height40
    .text.contacts-text: .row
      .col-md-6
        .contacts-long-title Офис продаж
        .height30
        p г. Уфа, ул. Революционная, д. 34/1
        p Время работы пн-пт: с 09:00 до 17:00
        p перерыв 12:00-13:00
        p сб, вс: выходной
        p тел: <a href="tel:+7(347)246-09-10">+7 (347) 246-09-10</a>
        p e-mail: <a href="mailto:su10op@yandex.ru">su10op@yandex.ru</a>
      .col-md-6
        .contacts-long-title Центральный офис
        .height30
        p г. Уфа, ул. Шота Руставели, 9
        p Тел: <a href="tel:+7(347)292-73-84">+7(347) 292-73-84</a>
        p E-mail: <a href="mailto:su10bnzs@mail.ru">su10bnzs@mail.ru</a>
    .contacts-author: .contacts-author__text
    //-  | КУРАТОР ПРОЕКТА: <br>
    //-  | Сатаев Р.Р. <br>
    //-  | Тел.: +7 (917) 42-09-851<br>
    //-  | E-mail: 4011267@gmail.com
    #map.about-map__wrapper

block footer
