public_html/gallery.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,height=device-height,viewport-fit=cover">
    <title>Городской квартал «Некрасовский»</title>
    <base href="/">
    <meta name="description" content="Расположен в одном из самых зеленых районов Уфы по улице Софьи Перовской. Из окон домов так приятно любоваться бескрайними просторами заречья, меняющими свои краски в зависимости от времени года, или вдохновляться живописными рассветами и закатами.">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="/assets/images/logo.png">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" href="/css/vendor.min.css?v=3.1.0">
    <link rel="stylesheet" href="/css/common.min.css?v=3.1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="header-mobile-fix"></div>
    <header class="header"><a class="header__logo" href="/">
        <svg class="icon icon-logo" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#logo"></use>
        </svg></a>
      <div class="header__right"><a class="header__select-flat" href="/select.html">
          <div class="header__select-flat__text">подобрать квартиру</div>
          <svg class="icon icon-key" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/images/svg/sprite.svg#key"></use>
          </svg></a>
        <div class="header__top-right"><a class="header__phone" href="tel:+7(347)246-09-10">+7 (347) 246-09-10
            <svg class="icon icon-phone" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#phone"></use>
            </svg></a>
          <div class="header__callme btn btn-orange" data-modalhandler="callme">заказать звонок</div>
        </div>
        <div class="header__right-panel">
          <div class="header__hamburger">
            <svg class="icon icon-hamburger" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#hamburger"></use>
            </svg>меню
          </div>
          <div class="header__right-panel__bottom">
            <svg class="icon icon-rp-scroll header__right-panel__scroll" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#rp-scroll"></use>
            </svg>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="first-screen bg066B9E gallery">
        <div class="first-screen__arc gallery-arc">
          <div class="first-screen__title">Галерея</div>
          <div class="height30"></div>
          <div class="first-screen__desc gallery-nums">
            <div class="gallery-nums__item" id="current"></div>
            <div class="gallery-nums__line"></div>
            <div class="gallery-nums__item" id="total"></div>
          </div>
        </div>
        <div class="gallery-swiper">
          <div class="swiper-container">
            <div class="swiper-wrapper"></div>
          </div>
          <div class="gallery-swiper__prev">
            <svg class="icon icon-arrow-left" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="gallery-swiper__next">
            <svg class="icon icon-arrow-left" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#arrow-left"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="index-prescription">
        Застройщик ООО «Специализированный застройщик «Некрасовский»&nbsp;Проектная декларация на сайте <a href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/" target="_blank">нашдом.рф</a></div>
    </main>
    <div class="hidden-menu">
      <div class="hidden-menu__close">
        <svg class="icon icon-close" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#close"></use>
        </svg>закрыть
      </div>
      <nav class="nav"><a class="nav__link" href="about.html">О комплексе</a><a class="nav__link" href="plan.html">О функциональных планировках</a><a class="nav__link" href="select.html">Выбрать планировку</a><a class="nav__link" href="gallery.html">Галерея</a><a class="nav__link" href="commercion.html">Коммерция</a><a class="nav__link" target="_blank" href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/#documents">Документы</a><a class="nav__link" href="contacts.html">Контакты</a>
      </nav>
    </div>
    <div class="menu-shadow"></div>
    <script>var pageName = 'gallery';</script>
    <script>var cmsTpl = '/';</script>
    <script src="/js/vendor.min.js?v=3.1.0"></script>
    <script src="/js/common.min.js?v=3.1.0"></script>
  </body>
</html>

app/pug/pages/gallery.pug
extends ../layouts/default

block scripts
  script var pageName = 'gallery';

block main
  .first-screen.bg066B9E.gallery
    .first-screen__arc.gallery-arc
      .first-screen__title Галерея
      .height30
      .first-screen__desc.gallery-nums
        .gallery-nums__item#current
        .gallery-nums__line
        .gallery-nums__item#total
    .gallery-swiper
      .swiper-container: .swiper-wrapper
      .gallery-swiper__prev: +svg('arrow-left')
      .gallery-swiper__next: +svg('arrow-left')
  .index-prescription Застройщик ООО «Специализированный застройщик «Некрасовский»&nbsp;
    | Проектная декларация на сайте <a href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/" target="_blank">нашдом.рф</a>

block footer
