app/pug/pages/plan.pug
extends ../layouts/default
include ../components/title

block main
  .overflow-hidden
    .bg085C87.bgimage-right(style="background-image:url(" + cmsTpl + "images/background/plan-bgimage-1.jpg);"): .container: .rp-padding
      .height60.plan-hide-height-1
      .height90.plan-hide-height-2
      .height90
      +title('Функциональный <br>паспорт квартиры')
      .height50
      .text.z-index-title-fix
        p Подобрать квартиру именно для вашей семьи (с учетом ее величины и интересов) теперь стало намного проще. Для этого мы разработали большое количество разнообразных планировочных решений - в квартале «Некрасовский» более 100 планировок площадью от 15 до 150 кв.м.
        p А еще для каждой квартиры подготовили функциональный паспорт.
        p Функциональный паспорт квартиры – это наглядный документ, который дает возможность детально рассмотреть планировку, оценить количество необходимой мебели и ее расстановку, варианты эффективного расположения зон для разных семей.
        p Выбирайте то, что подходит именно вашей семье!
      .height90

    .rp-padding: .bg066B9E.section-group-1
      .height60
      .text-center: a.plan-group.z-index-title-fix(data-fancybox href=cmsTpl + "images/plan-group-1.png")
        img(alt src=cmsTpl + "images/plan-group-1.png")
      .height60

    .rp-padding: .bg085C87.section-group-2
      .height60
      .text-center: a.plan-group.z-index-title-fix(data-fancybox href=cmsTpl + "images/plan-group-2-1.png")
        img(alt src=cmsTpl + "images/plan-group-2.png")
      .height10
      //a.btn.btn-orange.m-auto(href="#!") Скачать пример
      //.height60

public_html/plan.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,height=device-height,viewport-fit=cover">
    <title>Городской квартал «Некрасовский»</title>
    <base href="/">
    <meta name="description" content="Расположен в одном из самых зеленых районов Уфы по улице Софьи Перовской. Из окон домов так приятно любоваться бескрайними просторами заречья, меняющими свои краски в зависимости от времени года, или вдохновляться живописными рассветами и закатами.">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="/assets/images/logo.png">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" href="/css/vendor.min.css?v=3.1.0">
    <link rel="stylesheet" href="/css/common.min.css?v=3.1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="header-mobile-fix"></div>
    <header class="header"><a class="header__logo" href="/">
        <svg class="icon icon-logo" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#logo"></use>
        </svg></a>
      <div class="header__right"><a class="header__select-flat" href="/select.html">
          <div class="header__select-flat__text">подобрать квартиру</div>
          <svg class="icon icon-key" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/images/svg/sprite.svg#key"></use>
          </svg></a>
        <div class="header__top-right"><a class="header__phone" href="tel:+7(347)246-09-10">+7 (347) 246-09-10
            <svg class="icon icon-phone" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#phone"></use>
            </svg></a>
          <div class="header__callme btn btn-orange" data-modalhandler="callme">заказать звонок</div>
        </div>
        <div class="header__right-panel">
          <div class="header__hamburger">
            <svg class="icon icon-hamburger" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#hamburger"></use>
            </svg>меню
          </div>
          <div class="header__right-panel__bottom">
            <svg class="icon icon-rp-scroll header__right-panel__scroll" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/images/svg/sprite.svg#rp-scroll"></use>
            </svg>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="overflow-hidden">
        <div class="bg085C87 bgimage-right" style="background-image:url(/images/background/plan-bgimage-1.jpg);">
          <div class="container">
            <div class="rp-padding">
              <div class="height60 plan-hide-height-1"></div>
              <div class="height90 plan-hide-height-2"></div>
              <div class="height90"></div>
              <div class="title title--no-arc">Функциональный <br>паспорт квартиры</div>
              <div class="height50"></div>
              <div class="text z-index-title-fix">
                <p>Подобрать квартиру именно для вашей семьи (с учетом ее величины и интересов) теперь стало намного проще. Для этого мы разработали большое количество разнообразных планировочных решений - в квартале «Некрасовский» более 100 планировок площадью от 15 до 150 кв.м.</p>
                <p>А еще для каждой квартиры подготовили функциональный паспорт.</p>
                <p>Функциональный паспорт квартиры – это наглядный документ, который дает возможность детально рассмотреть планировку, оценить количество необходимой мебели и ее расстановку, варианты эффективного расположения зон для разных семей.</p>
                <p>Выбирайте то, что подходит именно вашей семье!</p>
              </div>
              <div class="height90"></div>
            </div>
          </div>
        </div>
        <div class="rp-padding">
          <div class="bg066B9E section-group-1">
            <div class="height60"></div>
            <div class="text-center"><a class="plan-group z-index-title-fix" data-fancybox href="/images/plan-group-1.png"><img alt src="/images/plan-group-1.png"></a></div>
            <div class="height60"></div>
          </div>
        </div>
        <div class="rp-padding">
          <div class="bg085C87 section-group-2">
            <div class="height60"></div>
            <div class="text-center"><a class="plan-group z-index-title-fix" data-fancybox href="/images/plan-group-2-1.png"><img alt src="/images/plan-group-2.png"></a></div>
            <div class="height10"></div>
            <!--a.btn.btn-orange.m-auto(href="#!") Скачать пример-->
            <!--.height60-->
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__left"><a class="footer__logo" href="/">
              <svg class="icon icon-logo" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="/images/svg/sprite.svg#logo"></use>
              </svg></a>
            <div class="footer__desc">
              Застройщик ООО «Специализированный<br> застройщик «Некрасовский»<br> Проектная декларация на сайте <a href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/" target="_blank">нашдом.рф</a> <br><br><a href="javascript:void(0)" data-modalhandler="private-police">Политика конфиденциальности</a></div>
          </div>
          <div class="footer__center">
            <div class="footer__menu"><a class="footer__link" href="about.html">О комплексе</a><a class="footer__link" href="plan.html">О функциональных<br> планировках</a><a class="footer__link" href="select.html">Выбрать планировку</a>
            </div>
            <div class="footer__menu"><a class="footer__link" href="gallery.html">Галерея</a><a class="footer__link" href="commercion.html">Коммерция</a><a class="footer__link" href="contacts.html">Контакты</a>
            </div>
          </div>
          <div class="footer__right"><a class="footer__phone" href="tel:+7(347)246-09-10">+7 (347) 246-09-10</a>
            <div class="footer__callme" data-modalhandler="callme">заказать звонок</div>
            <div class="footer__socs">
              <!--a.footer__socs__item(href="#!" target="_blank"): +svg('facebook')-->
              <!--a.footer__socs__item(href="#!" target="_blank"): +svg('vkontakte')-->
              <!--a.footer__socs__item(href="https://www.instagram.com/nekrasovsky.ufa/" target="_blank"): +svg('instagram')-->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="hidden-menu">
      <div class="hidden-menu__close">
        <svg class="icon icon-close" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/images/svg/sprite.svg#close"></use>
        </svg>закрыть
      </div>
      <nav class="nav"><a class="nav__link" href="about.html">О комплексе</a><a class="nav__link" href="plan.html">О функциональных планировках</a><a class="nav__link" href="select.html">Выбрать планировку</a><a class="nav__link" href="gallery.html">Галерея</a><a class="nav__link" href="commercion.html">Коммерция</a><a class="nav__link" target="_blank" href="https://xn--80aiybh2d.xn--p1ai/%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8/%D1%80%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0-%D0%B1%D0%B0%D1%88%D0%BA%D0%BE%D1%80%D1%82%D0%BE%D1%81%D1%82%D0%B0%D0%BD/%D0%B6%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BF%D0%BB%D0%B5%D0%BA%D1%81-%22%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%22%D0%BD%D0%B5%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%22/#documents">Документы</a><a class="nav__link" href="contacts.html">Контакты</a>
      </nav>
    </div>
    <div class="menu-shadow"></div>
    <script>var cmsTpl = '/';</script>
    <script src="/js/vendor.min.js?v=3.1.0"></script>
    <script src="/js/common.min.js?v=3.1.0"></script>
  </body>
</html>
